*{
    font-family: 'Montserrat', sans-serif;
}
a:hover{
    text-decoration: none;
}
.page-banner{
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    img{
        width:100%;
        height: 100%;
        object-fit: cover;
    }
}
.border-shadow{
    background: #FFFFFF;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding:10px;
    border:0px;
}
.card-hover{
    .icon-circle{
        width: 95px;
        height: 95px;
        border-radius: 100%;
        display: flex;
        margin-bottom: 10px;
    }
    h2{
        margin: 0px;
        font-size: 16px;
        min-height: 40px;
    }
    &:hover{
        color:rgb(244, 180, 89);
        .icon-circle{
            background-color: #0C2F96;
        }
    }
}

.flex-row{
    display: flex;
    flex-wrap: wrap;
}
.flex-center-item{
    align-items: center;
    justify-content: center;
}
.title-4{
    font-size: 20px;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.title-5{
    font-size: 16px;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}
.simple-link{
    border:0px;
    color: #000;
    font-weight: 600;
}
.section-nav{
    height: calc(100vh - 100px);
    align-items: center;
    justify-content: center;
}
.box-btn{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10px;
    font-weight: 600;
    font-size: 15px;
    color: #000;
    width: 270px;
    height: 200px;
    svg{
        width: 60px;
        height: auto;
        margin: auto;
    }
}
.simple-link{
    background: transparent;
    font-weight: 500;
    color:#f00;
}
.home-header{
    background: #fff;
    padding: 15px 0px;
    margin-bottom: 10px;
    .header-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header-left{
            h2{
                margin: 0px;
                color:#000;
                font-size: 22px;
            }
        }
        .header-right{
            ul{
                margin: 0px;
                li{
                    display: inline-block;
                    a{
                        color:#000;
                        text-decoration: none;
                        margin-right: 15px;
                        padding-right: 15px;
                        border-right: 1px solid #F0F0F0;
                        font-weight: 600;
                        svg{
                            margin-right: 10px;
                        }
                    }
                    button{
                        svg{
                            margin-right: 10px;

                        }
                    }
                    
                }
            }
        }
    }
}

// Home page

*{
    font-family: 'Montserrat', sans-serif;
}
.home-header{
    background: #fff;
    padding: 15px 0px;
    .header-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header-left{
            h2{
                margin: 0px;
                color:#000;

            }
        }
        .header-right{
            ul{
                margin: 0px;
                li{
                    display: inline-block;
                    a{
                        color:#000;
                        text-decoration: none;
                        margin-right: 15px;
                        padding-right: 15px;
                        border-right: 1px solid #F0F0F0;
                        font-weight: 600;
                        svg{
                            margin-right: 10px;
                        }
                    }
                    button{
                        svg{
                            margin-right: 10px;

                        }
                    }
                    
                }
            }
        }
    }
}

.btn-red{
    background: #E6000E;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    padding: 8px 13px 9px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    border: 0px;
    display: flex;
    align-items: center;
    svg{
        margin-right: 10px;
    }
}
.btn-red:hover{
    background-color: #B20C16;
}
.bg-yellow{
    background: #F0E700;
}
.bg-yellow:hover{
    background: #9D9807;
    color:#000;
}
.txt-black{
    color:#000;
}

.section-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.border-shadow{
    background: #FFFFFF;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding:10px;
}
.group-dropdown{
    select{
        margin-left: 10px;
        appearance: none;
        background: #15B446 url('../assets/images/home-img/arrow-down.svg')  94% 14px no-repeat;
        background-size: 18px;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        padding: 9px 36px 9px 12px;
        color: #fff;
        font-weight: 600;
        border: 0px;
    }
}
.green-select{
    appearance: none;
    background: #15B446 url('../assets/images/home-img/arrow-down.svg')  94% 14px no-repeat;
    background-size: 18px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    padding: 9px 36px 9px 12px;
    color: #fff;
    font-weight: 600;
    border: 0px;
}

.tab-section{
    background: #fff;
    .accordion{
        border:0px;
    }
    .nav-pills{
        justify-content: center;
        border-bottom:1px solid #D7D7D7;
        margin-bottom: 10px;
        padding-bottom: 10px;
        .nav-item{
            margin: 0px 5px;
            .nav-link{
                padding:10px;
                width: 140px;
                text-align: center;
                border:0px;
                cursor: pointer;
                background: transparent;
                position: relative;
                .tab-icon{
                    background: #D5D5D5;
                    border-radius:100%;
                    width: 80px;
                    height: 80px;
                    margin:0px auto 5px;
                    display: flex;
                    img{
                        width: 40px;
                        margin: auto;
                        height: auto;
                    }
                    svg{
                        margin: auto;
                    }
                }
                
                h3{
                    font-weight: 600;
                    font-size: 16px; 
                    color: #32325d; 
                    margin-bottom: 0px; 
                    position: relative;
                    z-index: -4;
                }
                &.active{
                    background: transparent;
                    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
                    border-radius: 5px;
                    .tab-icon{
                        background: #7561BA;
                        svg{
                    
                        }
                    }
                }
            }
            &:hover{
                .nav-link{
                    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
                    border-radius: 5px;
                    background: transparent;
                    .tab-icon{
                        background: #7561BA;
                    }
                }
            }
        }
    }
    .tab-content{
        background: #FFFFFF;
        padding:0px;
        .accordion__button{
            position: relative;
            background: #FF9154;
            padding:15px 15px 15px 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            &:before{
                position: absolute;
                left: 15px;
                display: none;
            }
            .accordian-title{
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                margin: 0px;
                color: #000000;
            }
            .accordian-date{
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                margin-right: 30px;
                text-align: right;
                position: relative;
                z-index: 9;
                color: #000000;
                span{
                    font-weight: normal;
                }
                a{
                    i{
                        color: rgb(255, 255, 255);
                        font-size: 16px !important;
                    }
                }
            }
        }
        .accordian-body{
            .accordian-content{
                .flex-row{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 20px;
                    h2{
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 24px;
                        margin: 0px;
                        color: #000000;
                    }
                }
                p{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 27px;
                    color: #666666;
                    margin: 20px 0px;
                }
                .border-top{
                    border-top: 1px solid #D7D7D7;
                    margin-top: 30px;
                }
            }
        }
    }
}

.tbl-header{
    padding:10px 15px !important;
    margin:  0px !important;
    justify-content: unset;
    &::before{
        display: none !important;
    }
    h2{
        margin: 0px;
        color: #000000;
        font-size: 18px;
        flex: 1;
    }
    div{
        a{
            display: inline-block;
            svg{
                margin-right: 0px;
            }
        }
    }
}
.custom-table{
    border:0px;
    thead{
        th{
            background: #6FA87C;
            color: #000;
            font-size: 16px ;
            font-weight: 600;
            text-transform: capitalize;
        }
    }
    tbody{
        tr{
            td{
                padding:10px !important;
            }
        }
    }
}
.txt-white{
    color:#fff;
}
.br-0{
    border-radius: 0px !important;
}

.sticky-box{
    position: sticky;
    top:0px;
    z-index: 2;
    background: #fff;
}
.content-scroll{
    max-height: calc(100vh - 90px);
    overflow-y: auto;
}
.content-scroll::-webkit-scrollbar {
    width: 8px;
  }
  .content-scroll::-webkit-scrollbar-track {
    background: #eee;
  }
  
  .content-scroll::-webkit-scrollbar-thumb {
    background: #6e52d1;
    border-radius: 10px;
  }
  
  .my-anchor-css-class{
    padding: 17px 13px 9px;
    font-size: 16px;
    line-height: 20px;
    border: 0px;
    color: #000;
    margin: 10px auto auto;
    display: block;
    position: absolute;
    top: -64px;
    width: 100%;
    right: 0px;
    height: 56px;
    text-align: right;
    transition: 0.5s all ease;
    font-weight: 600;
    font-size: 20px;
    &:hover{
        color: #000;

    }
  }

  .content-css{
    padding: 20px;
    position: relative;
    border: 1px solid #eee;
    margin-bottom: 20px;
    border-top: 0px;
     > span:first-child{
          width:1000px !important;
          display: inline-block;
          max-width: 100%;
      }
  }

  .navbar-items{
      display: flex;
      align-items: center;
  }

  .SplitPane{
      position: unset !important;
      background: #fff;
      .Pane {
          >div{
              >div:nth-child(1){
                  position: unset !important;
                  overflow: unset !important;
                  margin: 0px !important;
              }
          }
      }
  }

  .bg-green {
    background-color: #2dce89 !important;
}
.bg-grey{
    background-color: #ccc !important;
}

.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(1.5em + .75rem + 12px);
    margin-bottom: 0;
    .custom-file-input {
        position: relative;
        z-index: 2;
        width: 100%;
        height: calc(1.5em + .75rem + 12px);
        margin: 0;
        overflow: hidden;
        opacity: 0;
        background: #eee;
    }
    .custom-file-label{
        position: absolute;
        top: 0px;
        right: 0;
        left: 0;
        z-index: 1;
        height: calc(1.5em + .75rem + 12px);
        padding: 13px .75rem .375rem .75rem;
        overflow: hidden;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background: #eee;
        border: 0px;
        &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 3;
            display: block;
            height: calc(1.5em + .75rem + 12px);
            padding: .375rem .75rem;
            line-height: 35px;
            color: #fff;
            content: "Browse";
            background-color: #283bd5;
            border-left: inherit;
            border-radius: 0 .25rem .25rem 0;
        }
      
    }
}

.congrats-txt{
    text-align: center;
    h2{
        font-size: 16px;
        margin-top: 30px;
        span{
            font-size: 40px;
            font-weight: 600;
            display: block;
            padding-bottom: 10px;
            color: #0600b7;
        }
    }
    img{
        margin-top: 20px;
    }
}

.input-field{
    background: #fff;
    padding: 13px 15px;
    height: auto;
    font-weight: 400;
    border:2px solid transparent;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.05);
    &.form-success{
        border:2px solid #687EFB;
        outline: none;
        box-shadow: unset !important;
        background:#e5e4ff url(../assets/icons/check.svg) 98% 11px  no-repeat;
    }
    &.form-invalid{
        border:2px solid #687EFB;
        outline: none;
        box-shadow: unset !important;
        background:#e5e4ff url(../assets/icons/cross.svg) 98% 18px  no-repeat;
    }
}
select{
    &.input-field{
        &.form-success{
            background-position: 95% 11px;
        }
        &.form-invalid{
            background-position: 95% 18px;
        }
    }
}
.create-btn{
    padding-top:30px;
    .bg-green{
        margin: auto;
        svg{
            max-width: 30px;
            margin-left: 10px;
            margin-right:auto;
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    background: transparent !important;
    border-color: #fff !important;
}
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover, 
textarea:-webkit-autofill:focus, 
textarea:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    background: transparent !important;
    border-color: #fff !important;
}

.remove-side-border{
    .Resizer {
        display: none;
    }
}

.confrance-header{
    padding: 10px 15px;
    background: #6558fc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    div{
        a{
            margin-left:10px;
            i{
                display: inline-block;
                color:#fff;
            }
        }
    }

    span{
        color:#fff;
        font-weight: 500;
    }
}

.text-blue{
    color:#283bd5;
}
.signup-form-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    max-width: 750px;
    margin: auto;
}
.center-loader{
    position: absolute;
    top:0px;
    left: 0px;
    background: transparent;
    display:flex;
    left: calc(50% - 100px);
}
.Pane2  {
    background: #fff;
}
.confrence-border{
    border-bottom: 1px solid #D7D7D7;
    margin-top: 10px;
    padding-top: 0px;
}
.tab-icon-row{
    padding: 10px;
    width: 140px;
    text-align: center;
    border: 0px;
    cursor: pointer;
    background: transparent;
    position: relative;
    margin: auto;
    .tab-icon{
        border-radius: 100%;
        width: 80px;
        height: 80px;
        margin: 0px auto 5px;
        display: flex;
        background: #D5D5D5;
        img{
            width: 40px;
            margin: auto;
            height: auto;
        }
        
    }
    h3{
        font-weight: 600;
        font-size: 16px;
        color: #32325d;
        margin-bottom: 0px;
        position: relative;
        z-index: -4;
    }
    &.active{
        background: transparent;
        box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
        border-radius: 5px;
        .tab-icon{
            background: #7561BA;
        }
    }
}
.tab-content-scroll{
    overflow: auto;
    overflow: auto;
    max-height: calc(100vh - 300px);
}

.tab-content-scroll::-webkit-scrollbar {
    width: 8px;
  }
  .tab-content-scroll::-webkit-scrollbar-track {
    background: #eee;
  }
  
  .tab-content-scroll::-webkit-scrollbar-thumb {
    background: #6e52d1;
    border-radius: 10px;
  }

  .admin-course-file{
      a{
          margin-left: 10px;
          i{
            color: #0032c9;
            font-size: 18px;
          }
      }
  }
html{
    body{
        div{
            .vertical-top{
                vertical-align: top !important;
            }
        }
    }
}
.content-space-between{
    display: flex;
    justify-content: space-between;
}
.custom-modal-bar{
    .modal-content{
        border:0px;
        .modal-body{
            border: 0px;
            .modal-header{
                margin-top: -39px;
                margin-left: -16px;
                margin-right: -16px;
                label{
                    margin-bottom: 0px;
                    color: #fff;
                }
            }
        }
    }
}